.LoginHeader {
    background: rgb(22,118,190);
    background: radial-gradient(circle, rgba(22,118,190,1) 0%, rgba(13,65,133,1) 70%);
    padding: 20px 40px;
    border-radius: 12px;
    color: #fff;
}

.LoginHeader h2 {
    display: flex;
    justify-content: center;
}

.subtitle {
    display: flex;
    flex-direction: column;
}
.subtitle p {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.link {
    color: #ccc;
    display: flex;
    justify-content: center;
}

.link:hover {
    color: #fff;
}

.BackgroundLogin{
    background-image: url("https://i.pinimg.com/originals/82/13/16/8213169407157125d0bf38a2daf6522e.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}