.form{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    align-items: center;
}

.inputField {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.4rem 0;
    width: 22rem;
    gap: 1px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.inputField input {
    padding: 3px;
    border: none;
    outline: none;
}

.image {
    background-color: #a3d9f8;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image img { 
    width: 30px;
}

.loginButton{
    cursor: pointer;
    margin-top: 10px;
    border-radius: 1.5rem;
    background: rgb(255,255,255);
    background: linear-gradient(157deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 70%);
    padding: 0.8rem 1rem;
    color: #000;
    font-size: 0.9rem;
    font-weight: 700;
}

.warning-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
    padding-left: 1.2rem;
}