.survey-details {
    padding: 10px;
}
.container-survey {
    background-color: #fff;
    border-radius: 10px;
}
.header-survey {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    gap: 2rem;
}
.close-detailSurvey button {
    border-radius: 50%;
    padding: 3px;
    background-color: #7b7b7b;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.close-detailSurvey button:hover {
    background-color: #eb7855;
}
.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
    width: 98%;
    background-color: #f1f1f1;
}
.details-container p {
    border-top: 1px solid white;
    padding: 10px;
    margin: 0;
}
.status-survey {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.status-container {
    color: #fff;
    padding: 0px 8px;
    border-radius: 4px;
}
.publish,
.updateSurvey {
    background-color: #4bb34b;
}
.noPublish,
.closeSurvey {
    background-color: #eb7855;
}
ul {
    list-style: none;
    padding: 0px;
}
ul li {
    display: grid;
    grid-template-columns: 55rem auto;
    gap: 1px;
}
.survey-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 1rem 1rem 0px;
    gap: 2rem;
}
.survey-buttons button{
    cursor: pointer;
    border-radius: 2rem;
    font-weight: bold;
}
.listEditSurvey {
    padding: 10px 0px 10px 10px;
    width: 98%;
    display: flex;
    flex-direction: column;
}
.listEditSurvey li {
    display: flex;
    align-items: center;
    gap: 30px;
}
.listEditSurvey li input,
.listEditSurvey li select {
    height: 2rem;
}
.listEditSurvey li input {
    margin: 10px 0px;
}