.survey-details {
    padding: 10px;
}
.container-survey {
    background-color: #fff;
    border-radius: 10px;
}
.subtitle-survey {
    text-align: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: 95%;
    background-color: #f1f1f1;
}
.details-container p {
    border-top: 1px solid white;
    padding: 10px;
    margin: 0;
}
.status-survey {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.status-container {
    color: #fff;
    padding: 0px 8px;
    border-radius: 4px;
}
.publish {
    background-color: #4bb34b;
}
.noPublish {
    background-color: #eb7855;
}
ul {
    list-style: none;
    padding: 0px;
}
ul li {
    display: flex;
    flex-direction: row;
    gap: 20px;
}