.navbar {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    background: rgb(22,118,190);
    background: linear-gradient(rgba(22,118,190,1) 0%, rgba(13,65,133,1) 180%);
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.options {
    display: flex;
    gap: 5px;
    font-size: 20px;
}
.items {
    color: white;
    cursor: pointer;
}
.user-options {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem;
}
.buttons {
    display: flex;
    gap: 20px;
}
.buttons button {
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.buttons button a{
    color: #000;
}
.user-button {
    border-radius: 50px;
    width: 30px;
    background-color: #fff;
}