.account {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerText {
    background-color: #f1f1f1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerText h1 {
    padding: 0px 3rem;
    font-weight: normal;
}

.tab {
    padding: 0px 2rem;
    background-color: #f1f1f1;
    border: none;
}

.tab button {
    background-color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0px -10px 15px 1px rgba(221, 221, 221, 0.824);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;
  }

  .tabcontent {
    padding: 1rem;
    border-top: none;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 2rem;
    justify-content: center;
  }

.sessionData,
.companyData {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0.3rem 1rem;
    width: 90%;
    border-top: 10px solid #21699f;
    border-bottom: 10px solid #21699f;
}

.fieldProfile {
    margin: 8px 0px;
}

.fieldProfile label{
    font-size: 15px;
}

.fieldProfile input {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.updateButton {
    margin: 20px 0px;
    display: flex;
    justify-content: end;
}

.updateButton button {
    cursor: pointer;
    border: 2px solid #21699f;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.updateButton button:disabled{
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    cursor: default;
}

.fieldProfile span {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }